html {
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

.container--fluid {
  width: 100%;
}

.row {
  font-size: 0;
}

.col-1 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 8.33333%;
}

.col-1:first-child {
  padding-left: 0;
}

.col-1:last-child {
  padding-right: 0;
}

.col-2 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 16.66667%;
}

.col-2:first-child {
  padding-left: 0;
}

.col-2:last-child {
  padding-right: 0;
}

.col-3 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25%;
}

.col-3:first-child {
  padding-left: 0;
}

.col-3:last-child {
  padding-right: 0;
}

.col-4 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 33.33333%;
}

.col-4:first-child {
  padding-left: 0;
}

.col-4:last-child {
  padding-right: 0;
}

.col-5 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 41.66667%;
}

.col-5:first-child {
  padding-left: 0;
}

.col-5:last-child {
  padding-right: 0;
}

.col-6 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
}

.col-6:first-child {
  padding-left: 0;
}

.col-6:last-child {
  padding-right: 0;
}

.col-7 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 58.33333%;
}

.col-7:first-child {
  padding-left: 0;
}

.col-7:last-child {
  padding-right: 0;
}

.col-8 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 66.66667%;
}

.col-8:first-child {
  padding-left: 0;
}

.col-8:last-child {
  padding-right: 0;
}

.col-9 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 75%;
}

.col-9:first-child {
  padding-left: 0;
}

.col-9:last-child {
  padding-right: 0;
}

.col-10 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 83.33333%;
}

.col-10:first-child {
  padding-left: 0;
}

.col-10:last-child {
  padding-right: 0;
}

.col-11 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 91.66667%;
}

.col-11:first-child {
  padding-left: 0;
}

.col-11:last-child {
  padding-right: 0;
}

.col-12 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.col-12:first-child {
  padding-left: 0;
}

.col-12:last-child {
  padding-right: 0;
}

.heading {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

.heading--h1 {
  margin-top: 0;
  font-size: 6.854em;
}

.heading--h2 {
  font-size: 4.236em;
}

.heading--h3 {
  font-size: 2.618em;
}

.heading--h4 {
  font-size: 1.618em;
}

::-moz-placeholder {
  color: #96897b;
  font-weight: 300;
}

.form__group {
  margin: 1.3em 0;
}

.label {
  font-size: 1em;
}

.label--block {
  display: block;
}

.input {
  border: 1px solid #0a0908;
  box-sizing: border-box;
  color: #0a0908;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  width: 100%;
}

.input__text {
  height: 2rem;
  padding-left: .5rem;
}

.input:focus {
  outline: 0;
}

.data {
  background-color: #dbedf9;
  border: 1px solid #afd7f2;
  border-radius: 4px;
  box-sizing: border-box;
  padding: .75rem;
}

.data__title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.data__entry {
  font-size: .800rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.data__entry > span {
  font-weight: 400;
}

.detail {
  background-color: #70cce5;
  margin-top: 2rem;
  background: #0a5592;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0a5592 0%, #70cce5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a5592), color-stop(100%, #70cce5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0a5592 0%, #70cce5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0a5592 0%, #70cce5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0a5592 0%, #70cce5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0a5592 0%, #70cce5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  position: relative;
}

/*# sourceMappingURL=map/base.css.map */
